.arete-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}

.arete-content p {
  font-family: "M PLUS Rounded 1c", serif;

  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.arete-content h3 {
  font-family: "M PLUS Rounded 1c", serif;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 15px;
  color: #ff914c; /* Highlight color */
}
.arete-container {
  width: 100%;
  padding: 60px 20px;
  background: whitesmoke;
  color: #0c2c3c;
  padding-bottom: 1px;
  text-align: center;
  height: 400px;
}
.arete-content ul {
  list-style-type: none;
  padding: 0;
}

.arete-content li {
  font-family: "M PLUS Rounded 1c", serif;

  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 10px;
  padding-left: 20px;
  position: relative;
}

.arete-content li::before {
  content: "•";
  color: #ff914c;
  font-size: 1.5rem;
  position: absolute;
  left: 0;
  top: 3px;
}

@media (max-width: 768px) {
  .arete-content {
    text-align: center;
  }

  .arete-content li {
    padding-left: 0;
  }

  .arete-content li::before {
    display: none;
  }
}
